body a{
	color: black;
}

img#sw {
	display: block;
	max-height: 130px;
	border-radius: 65px;
	margin: auto;
}

.top_links {
	display: inline-block;
}

#chart_div {
	display: block;
	margin-top: 20px;
}

#chart_span {
	display: block;
	max-width: 900px;
	margin-bottom: 20px;
}

#nycda {
	margin-top: 25px;
	font-size: 25px;
}

#nycda_blog {
	display: block;
	max-width: 900px;
	margin-top: 60px;
}

#typeface_title {
	font-size: 25px;
}

div #typeface {
	display: inline-block;
	max-width: 500px;
	margin-right: 25px;
	margin-top: 50px;
}

.typeface_pic img {
	display: inline;
/*	margin-left: 25px;*/
	max-width: 272px;
	height: auto;
	border: 10px solid #444;
}

#shopping {
	display: inline-block;
	max-width: 340px;
/*	margin-top: 90px;*/
}

#shop_title {
/*	margin-top: 25px;*/
	font-size: 25px;
}

#clone_title {
	margin-top: 50px;
	font-size: 25px;	
}

#clone {
	display: block;
	margin-top: 60px;
}

.chart {
	margin-top: 25px;
	font-size: 25px;
}

.chart1 img {
	display: inline;
	max-width: 400px;
	height: auto;
	border: 10px solid #444;
}

.chart2 img {
	display: inline;
	max-width: 406px;
	height: auto;
	border: 10px solid #444;
}

.chart1 img:hover, .chart2 img:hover,
.blog_login img:hover, .blog_credit img:hover, .blog_commands img:hover,
.typeface_pic img:hover, .shop img:hover, .goog_clone img:hover, .goog_code img:hover {
	opacity: 0.8;
}

#blog_span {
	display: block;
	max-width: 800px;
	margin-top: 100px;
	margin-bottom: 20px;
}

.blog_login img {
	display: inline;
	max-width: 400px;
	height: auto;
	border: 10px solid #444;
}

.blog_credit img {
	display: inline;
	max-width: 415px;
	height: auto;
	border: 10px solid #444;
}

.blog_commands img {
	display: inline;
	max-width: 400px;
	height: auto;
	border: 10px solid #444;
}

#shop_span {
	display: inline;
	margin-top: 80px;
	margin-bottom: 20px;
	margin-right: 25px;
}

.shop img {
	display: inline;
	margin-top: 80px;
	max-width: 400px;
	height: auto;
	border: 10px solid #444;
}

.goog_clone img {
	display: inline;
	max-width: 430px;
	height: auto;
	border: 10px solid #444;
	margin-top: 0px;
}

.goog_code img {
	display: inline;
	max-width: 400px;
	height: auto;
	border: 10px solid #444;
}