body a {
/*	text-decoration: black;*/
	color: black;
}

.top_links {
	display: inline-block;
}

#chart_div {
	display: block;
	margin-top: 60px;
}

#chart_span {
	display: block;
	max-width: 900px;
	margin-bottom: 20px;
}

#nycda {
	margin-top: 25px;
	font-size: 25px;
}

#nycda_blog {
	display: block;
	max-width: 900px;
	margin-top: 60px;
}

#shopping {
	display: block;
	margin-top: 60px;
}

#shop_title {
	margin-top: 25px;
	font-size: 25px;
}

#clone_title {
	margin-top: 50px;
	font-size: 25px;	
}

#clone {
	display: block;
	margin-top: 60px;
}

.chart {
	margin-top: 25px;
	font-size: 25px;
}

.chart1 img {
	display: inline;
	max-width: 400px;
	height: auto;
	border: 10px solid #444;
}

.chart2 img {
	display: inline;
	max-width: 405px;
	height: auto;
	border: 10px solid #444;
}

#blog_span {
	display: block;
	max-width: 800px;
	margin-top: 100px;
	margin-bottom: 20px;
}

.blog_login img {
	display: inline;
	max-width: 400px;
	height: auto;
	border: 10px solid #444;
}

.blog_credit img {
	display: inline;
	max-width: 415px;
	height: auto;
	border: 10px solid #444;
}

.blog_commands img {
	display: inline;
	max-width: 400px;
	height: auto;
	border: 10px solid #444;
}

#shop_span {
	display: block;
	max-width: 800px;
	margin-top: 100px;
	margin-bottom: 20px;
}

.shop img {
	display: inline;
	max-width: 400px;
	height: auto;
	border: 10px solid #444;
}

div #typeface {
    display: inline-block;
    max-width: 500px;
    margin-right: 25px;
    margin-top: 50px;
}

.typeface_pic img {
    display: inline;
    max-width: 272px;
    height: auto;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(68, 68, 68);
}

#sketchy {
    margin-top: 90px;
}

.sketchy_svg img {
    display: inline;
    max-width: 430px;
    height: auto;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(68, 68, 68);
}

#chart_div {
    display: block;
    margin-top: 20px;
}

.chart1 img {
    display: inline;
    max-width: 400px;
    height: auto;
    border: 10px solid #444;
}

.chart2 img {
    display: inline;
    max-width: 406px;
    height: auto;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(68, 68, 68);
}

.chart {
    margin-top: 25px;
    font-size: 25px;
}

#nycda_blog {
    display: block;
    max-width: 900px;
    margin-top: 60px;
}

#blog_span {
    display: block;
    max-width: 800px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.blog_login img {
    display: inline;
    max-width: 400px;
    height: auto;
    border: 10px solid #444;
}

.blog_commands img {
    display: inline;
    max-width: 400px;
    height: auto;
    border: 10px solid #444;
}

.blog_credit img {
    display: inline;
    max-width: 415px;
    height: auto;
    border: 10px solid #444;
}

#shop_span {
    display: inline;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 25px;
}

.shop img {
    display: inline;
    margin-top: 80px;
    max-width: 400px;
    height: auto;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(68, 68, 68);
}

#shopping {
    display: inline-block;
    max-width: 340px;
}

#menu {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 10;
    overflow: auto;
    /* padding-left: 10px; */
    background: -webkit-linear-gradient(#FDF5EF, #f6ede6);
    background: -o-linear-gradient(#FDF5EF, #f6ede6);
    background: -moz-linear-gradient(#FDF5EF, #f6ede6);
    background: linear-gradient(#FDF5EF, #f6ede6);
    -mox-box-shadow: 0px 0px 20px 10px #e1d6d4;
    -webkit-blox-shadow: 0px 0px 20px 10px #e1d6d4;
    box-shadow: 0px 0px 20px 10px #e1d6d4;
    outline: #c0b29e 2px solid;
}

/*
section {
    top: 0;
    width: 100%;
    margin-top: 0px;
    margin-left: 230px;
    padding: 30px 20px 30px 40px;
    background: -webkit-linear-gradient(left, #f3e3e1, #e7ded9);
    background: -o-linear-gradient(right, #f3e3e1, #e7ded9);
    background: -moz-linear-gradient(right, #f3e3e1, #e7ded9);
    background: linear-gradient(to right, #f3e3e1, #e7ded9);
    background: #e8d9c4;
    height: 100%;
}
*/

#typeface_title {
    font-size: 25px;
}

#sketchy_title {
    font-size: 25px;
}
